

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





li.caterers{
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 15px;
  color: inherit;
  text-rendering: optimizelegibility;
  list-style-type: none;

}



p.list-food-style {
	display: inline;
	font-style:italic;
	font-weight: normal;
	font-size: 12px;
	margin-left: 15px;
}







